# Python
__pycache__/
*.pyc
.env
.venv
venv/
*.egg-info/

# Data & Models - Exclude large files from Git
# It's better to provide instructions on how to generate or download them.
data/raw_ais/


# Jupyter Notebooks
.ipynb_checkpoints/

# IDE specific
.idea/
.vscode/

# Other
.cache/